@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800|Open+Sans:300,300i,400,400i,600,700,800");

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat-v12-latin_cyrillic-regular.eot");
  src: 
  url("fonts/montserrat-v12-latin_cyrillic-regular.woff") format("woff"),
  url("fonts/montserrat-v12-latin_cyrillic-regular.svg#filename") format("svg");
}

body, html {
  height: 100%;
  margin: 0;
  font-family: "Verdana";
  font: 400 15px/1.8, sans-serif;
  color: #777;
  letter-spacing: 1px;
}

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("ro_red_orange_white_5.png");
  min-width: 100%;
  min-height: 100%;
  opacity: 0.95;
  height: 700px;
}

.bgimg-2 {
  background-image: url("ro_red_orange.png");
  opacity: 1;
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("network.png");
  min-height: 400px;
}

.ro-title{
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  padding-top: 15%;
  font-size: 115px;
}

.get-app {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 32px;
  font-weight: 600;
}

.get-app-subheader {
  margin-bottom: 60px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: proxima-nova, sans-serif;
  font: 20px "Lato", sans-serif;
  color: #111;
}


/*Navbar styling*/

.gmd {
  background: #fff;
  border-radius: 2px;
  display: block;
  position: relative;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: white;
  z-index: 1;
  position: fixed;
  width: 100%;
  padding-top:10px;
  padding-bottom: 10px;
  padding-right: 40px;
}

/* Navbar links */
#navbar a {
  display: block;
  /*color: rgb(240,241,243);*/
  color: black;
  /*color: lightgrey;*/
  text-align: center;
  padding: 14px;
  font-size: 22px;
  /*font-family: "Montserrat", sans-serif;*/
  text-decoration: none;
  margin-right: 35px;
  font-weight: 500;
}

#navbar a.learn-more {
  display: block;
  height: 25px;
  color: #e65425;
  text-align: center;
  padding: 14px;
  font-size: 22px;
  text-decoration: none;
  margin-right: 40px;
  font-weight: 500;
  margin-top: 0px;
  border-color: #e65425;
}

#navbar a.learn-more:hover {
  color: black;
}
/*
original salmon:
rgb();
kik salmon:
rgb(243,171,145)

kik blue nav bar:
rgb(21,47,79)
kik dark blue body:
rgb(17,33,54)

*/
#navbar .navbar-logo {
  float: left;
  margin-left: 50px;
  font-weight: 700;
}
#navbar .navbar-logo img {
  margin-left: 30px;
  margin-bottom: -15px;
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

#navbar a.navbar-logo:hover{
  color: #e65425;
}

#navbar a:hover {
  /*color: rgb(231,160,119);*/
  color: #e65425;
}

/* Responsive navbar styling */

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color: rgb(231,160,119);
}


/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 18px 32px;
  position: relative;
  user-select: none;
}

i.fa.fa-bars {
  color: #e65425;
  font-size: 22px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


/* HOW section */
.how {
  color: #777;
  /* text-align:center;*/
  padding:50px 80px;
  /* text-align: justify; */
  height: 1225px;
  border-top: solid black 5px;
}

.how-header {
  text-align:center; 
  margin-top: 60px;
  margin-bottom: 50px; 
  font-size: 30px; 
  letter-spacing: 2px;
  line-height: 45px;
  color: black;
}

.red-header {
  color: #e65425;
  font-size: 35px !important;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}


/*bootstrap*/
.row {
  margin-bottom: 20px;
  height: 300px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  /*background-color: #eee;*/
  /*background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);*/
}
.row:before {
  display: table;
  content: " ";
}

.col-md-2 {
  position: relative;
  min-height: 1px;
  padding-right: 20px;
  padding-left: 20px;
}

.col-md-3 {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}

.col-md-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .col-md-2 {
      width: 45%;
      float: left;
  }
  .col-md-3 {
      width: 24%;
      float: left;
  }
  .col-md-4 {
      width: 30%;
      float: left;
  }
  /*For About section*/
  .col-md-6 {
    width: 36%;
    float: left;
  }
  .profile-left {
    padding-left: 12%;
  }
  .profile-right {
    padding-right: 12%;
  }
}

/* Section - App */
.app-img {
  width: 50%;
  margin-left: 35%;
  margin-right: 35%;
}
.card {
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}
.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.edit-icon {
  max-width: 155px;
  margin-top: 0px;
  margin-left: 39%;
  margin-bottom: 0px;
}
.other-icon {
  max-width: 120px;
  margin-top: 19px;
  margin-left: 43%;
  margin-bottom: 16px;
}
.sub-header {
  margin-top: 30px;
  font-size: 20px;
  font-family: Helvetica;
  letter-spacing: 2px;
  color: rgba(22,28,46,0.9);
  text-align: center;
  margin-left: 18%;
}

.sub-header.button {
  margin-top: 60px;
}

.learn-more {
  width: 150px;
  height: 60px;
  border: solid 2px black;
  border-radius: 5px;
  color: black;
  font-weight: 500;
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
  margin-top: 20px;
}

a.learn-more:hover{
  width: 150px;
  height: 60px;
  border: solid 2px #e65425;
  color: #e65425;
  font-weight: 500;
  font-size: 20px;
}

/*build page*/
#build-header{

}

/* Section - About */
.profile-photo {
  max-width: 150px;
  border-radius: 100px;
}

.photo-sub-header {
  margin-top: 20px;
  font-size: 20px;
  font-family: Helvetica;
  letter-spacing: 2px;
  color: rgba(22,28,46,0.9);
  text-align: center;
}

.about-text {
  padding-left: 10%;
  padding-right: 10%;
  color: black;
  line-height: 25px;
}

.about-social-media {
  margin: 1%;
}
.about-social-media-icon {
  max-width: 25px;
}
.about-social-media-icon a:hover {
  text-decoration: underline;
  color: #e65425;
}

/*faq section*/
.faq-window {
  display: block;
  width: 96%;
  color: lightgrey;
  padding: 30px;
  letter-spacing: 2px;
  position: inherit !important;
  padding-top: 50px;
}

.faq-header {
 color: #e65425;
 font-size: 32px;
}

.faq-subheader {
  color: #e65425;
  font-size: 20px;
}

.faq-answer {
  color: black;
  font-size: 16px;
  margin-left: 15%;
  margin-right: 15%;
  letter-spacing: 1.5px;
}

.faq-spacer {
  margin: 40px;
}

/*button/badges*/
.badge {
  max-height: 85px;
  margin-left: 40px;
  margin-right: 40px;
}
.apple-badge {
  padding: 13px;
  height: 58px;
}

/*footer*/
.footer {
  height: 200px;
  margin-top: -15px;
  padding-top: 15px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: #e65425;
  text-align: center;
}
.footer-sub-header a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-right: 20px;
  margin-left: 20px;
}
.footer-sub-header a:focus, .footer-sub-header a:hover {
  color: #e65425;
}
.footer-sub-link {
  margin-top: 10px;
}
.footer-sub-link a{
  color: #e65425;
  text-decoration: none;
}
.footer-sub-link a:focus, .footer-sub-link a:hover {
  color: black;
}
.copyright {
  color: grey;
  font-weight: 300;
}

.center {
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
}
.credits-left {
    float: left;
}
.credits-right {
    float: right;
    margin-top: 33px;
}
.credits-right ul {
    font-size: 0;
}
div.footer-row{
  border-top: solid black 5px;
}
div.col-md-4.footer-background, div.col-md-6.footer-background {
  background-color: white;
  border-color: white;
}
.footer-image{
  border-radius: 50px;
  width: 20%; 
  margin-top:-15px; 
  margin-bottom: 15px;
}
.social-media-row {
  margin-top: 20px;
  margin-left: 5px;
}
.social-media {
  margin: 3%;
}
.social-media-icon {
  max-width: 30px;
}
.social-media-icon a:hover {
  text-decoration: underline;
  color: #e65425;
}

@media (max-width: 992px) {
  #ro {
    padding-top: 100px;
  }
  .ro-title {
    font-size: 50px;
    width: 90%;
    margin-left: 5%;
    padding-top: 30%;
  }
  #navbar a.navbar-logo{
    color: white;
    margin-left: 20px;
  }
  .bgimg-1 {
    background-attachment: inherit;
    background-image: url("ro_red_orange_white_2.png");
    height: 400px;
  }
  #navbar {
    background-color: rgba(0,0,0,0.95);
  }
  #navbar a{
    color: white;
  }
  .header .menu-btn:checked ~ .menu {
    max-height: 360px;
    margin-left: 8%;
  }
  #navbar a.learn-more {
    display: block;
    height: 25px;
    color: #e65425;
    text-align: center;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: #e65425;
    width: 84%;
  }
  #navbar a.learn-more:focus {
    color: white;
  }
  .how {
    height: 1200px;
  }
  .how-header {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: -10%;
    margin-right: -10%;
    line-height: 35px;
  }
  .red-header {
    font-size: 28px !important;
  }
  .app-img {
    margin-top: 60px;
    margin-left: 25%;
    margin-right: 25%;
  }
  .edit-icon {
    max-width: 90px;
    margin-top: 10px;
    padding-left: 0%;
    margin-bottom: 0px;
  }
  .other-icon {
    max-width: 68px;
    margin-top: 40px;
    padding-left: 6%;
    margin-bottom: 10px;
  }
  .sub-header {
    margin-top: 10px;
    margin-left: 0%;
    margin-bottom: -20px;
  }
  .learn-more {
    padding: 15px;
  }
  .get-app-subheader {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .footer-image{
    margin-top:10px; 
    margin-bottom: 10px;
  }
  .faq-window {
    padding: 0px;
    width: 140%;
    margin-left: -20%;
  }
  .faq-answer {
    color: black;
    font-size: 16px;
    margin-left: 2%;
    margin-right: 2%;
    letter-spacing: 1.5px;
  }
  ul.faq-answer {
    margin-left: -10%;
  }

  /*About*/
  .col-md-6 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
  }
  .about-text {
    padding-left: 2%;
    padding-right: 2%;
    font-size: 14px !important;
  }
  .profile-left {
    padding-left: 0%;
  }
  .profile-right {
    padding-right: 0%;
  }
}
